@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('fonts/BrandonGrotesque/brandongrotesque-black-webfont.eot');
    src: url('fonts/BrandonGrotesque/brandongrotesque-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BrandonGrotesque/brandongrotesque-black-webfont.woff') format('woff'),
    url('fonts/BrandonGrotesque/brandongrotesque-black-webfont.ttf') format('truetype'),
    url('fonts/BrandonGrotesque/brandongrotesque-black-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/BrandonGrotesque/brandongrotesque-medium-webfont.eot');
    src: url('fonts/BrandonGrotesque/brandongrotesque-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BrandonGrotesque/brandongrotesque-medium-webfont.woff') format('woff'),
    url('fonts/BrandonGrotesque/brandongrotesque-medium-webfont.ttf') format('truetype'),
    url('fonts/BrandonGrotesque/brandongrotesque-medium-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('fonts/BrandonGrotesque/brandongrotesque-regular-webfont.eot');
    src: url('fonts/BrandonGrotesque/brandongrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BrandonGrotesque/brandongrotesque-regular-webfont.woff') format('woff'),
    url('fonts/BrandonGrotesque/brandongrotesque-regular-webfont.ttf') format('truetype'),
    url('fonts/BrandonGrotesque/brandongrotesque-regular-webfont.svg#brandon_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museosans';
    src: url("fonts/museosans/museosans.eot");
    src: url("fonts/museosans/museosans.eot?#iefix") format("embedded-opentype"), url("fonts/museosans/museosans.woff") format("woff"), url("fonts/museosans/museosans.ttf") format("truetype"), url("fonts/museosans/museosans.svg#") format("svg");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, .navbar-default .navbar-nav a, .responsiveAddsHolder_inside p {
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 22px;
}

.navbar-default {
    background-color: #3d4040;
    border-color: #3d4040;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #c7a46f;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family: brandon_grotesquemedium;
    font-size: 17px;
    letter-spacing: 1.6px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #c7a46f;
}

.navbar-default .navbar-nav > .current_page_item > a, .navbar-default .navbar-nav > .current_page_item > a:hover, .navbar-default .navbar-nav > .current_page_item > a:focus {
    color: #c7a46f;
    background-color: #3d4040;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #c7a46f;
    background-color: #3d4040;
}

.navbar-default .navbar-toggle {
    border-color: #3d4040;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3d4040;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #c7a46f;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c7a46f;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .current_page_item > a, .navbar-default .navbar-nav .open .dropdown-menu > .current_page_item > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .current_page_item > a:focus {
        color: #c7a46f;
        background-color: #3d4040;
    }

    .navbar {
        min-height: 57px;
        margin-bottom: 18px;
    }
}

.navbar-default .navbar-nav {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-nav > li + li {
    margin-left: 33px;
}

.navbar-default .navbar-nav > li > a {
    padding-bottom: 12px;
}

@media (max-width: 1000px) {
    .navbar-default .navbar-nav > li + li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
        font-family: brandon_grotesqueregular;
        font-size: 2.6vw;
        letter-spacing: 0.1vw;
    }
}

.navbar-default .navbar-nav > li {
    margin: 10px 15px 0 15px;
}

@media (max-width: 1000px) {
    .navbar-default .navbar-nav > li {
        margin: 3px 22px 0 22px;
    }

    .navbar-default .navbar-nav > li > a {
        padding-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav > li + li {
        margin-left: 1.3vw;
        margin-right: 1.3vw;
    }

    .navbar-default .navbar-nav > li {
        margin: 3px 1vw 0 3.7vw;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 15px 0.1vw 5px 0.1vw;
    }
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

body {
    background: url(img/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.socialIcons {
    float: right;
}

.socialIconsTablet {
    float: right;
    margin-right: -10px;
}

.socialIconsMobile {
    float: right;
    margin-right: -12px;
}

a.faceBook img {
    content: url("img/faceBookTablet.png");
}

a.instagram img {
    content: url("img/instagramTablet.png");
}

a.twitter img {
    content: url("img/twitterTablet.png");
}

.socialIcons a.faceBook img {
    width: 27px;
    height: 29px;
}

.socialIcons a.instagram img {
    width: 27px;
    height: 29px;
}

.socialIconsTablet a.faceBook img {
    width: 27px;
    height: 29px;
}

.socialIconsTablet a.instagram img {
    width: 27px;
    height: 29px;
}

.socialIconsTablet a.twitter img {
    width: 27px;
    height: 29px;
}

.socialIcons a.instagram {
    margin-left: 6px;
}

.socialIconsTablet a.instagram {
    margin-left: 15px;
}

.socialIconsTablet a.twitter {
    margin-left: 15px;
}

.socialIconsMobile a.faceBook img {
    width: 34px;
}

.socialIconsMobile a.instagram img {
    width: 34px;
}

.socialIconsMobile a.twitter img {
    width: 34px;
}

.socialIconsMobile a.faceBook {
    margin-left: 37px;
}

.socialIconsMobile a.instagram {
    margin-left: 37px;
}

.socialIconsMobile a.twitter {
    margin-left: 37px;
}

.mainArea {
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.image-squares {
    padding-right: 20px;
    padding-top: 50px;
}

.image-squares > div {
    float: left;
    width: 50%;
    padding-right: 10px;
}

.image-squares img {
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 1000px) {
    .image-squares > div {
        width: 100%;
    }

    .image-squares {
        padding-top: 0;
    }

    .image-squares img {
        width: 85%;
        margin-left: 17px;
    }

    .image-squares div:first-child img {
        margin-top: 4px;
    }
}

@media (max-width: 767px) {
    .image-squares img {
        width: 111%;
        margin-left: -20px;
        margin-bottom: 7px;
    }

    .image-squares div:first-child img {
        margin-top: 41px;
    }
}

.imageContainer {
    position: relative;
}

.imageContainer img {
    width: 100%;
}

.imageContainer .imageContainer_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mainArea .logo {
    float: right;
}

@media (max-width: 1000px) {
    .mainArea .logo img {
        width: 171px;
    }

    .mainArea {
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media (max-width: 767px) {
    .mainArea .logo img {
        width: 190px;
    }

    .mainArea {
        margin-left: 11px;
        margin-right: 11px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.mainArea .headText {
    margin-top: 105px;
}

.mainArea .headText h1 {
    font-family: brandon_grotesqueblack;
    font-size: 48px;
    color: #c7a46f;
    margin: 0;
    line-height: 38px;
}

.mainArea .headText h2 {
    font-family: brandon_grotesqueblack;
    font-size: 31px;
    color: #c7a46f;
    margin: 0;
}

.mainArea ul.headLinks {
    list-style-type: none;
    margin: 9px 0 0 -11px;
    padding: 0;
}

.mainArea ul.headLinks li {
    display: inline;
}

.mainArea ul.headLinks li > a {
    text-decoration: none;
    letter-spacing: 0.3px;
    margin-left: 12px;
    margin-right: 12px;
}

.mainArea .headLinks > li > a {
    font-family: brandon_grotesquemedium;
    font-size: 17px;
    color: #3d4040;
}

.mainArea .headLinks > li > a:hover {
    color: #c7a46f;
}

@media (max-width: 1000px) {
    .mainArea .headText {
        margin-top: 67px;
    }

    .mainArea .headText h1 {
        font-size: 35px;
        line-height: 36px;
    }

    .mainArea .headText h2 {
        font-size: 23px;
    }
}

@media (max-width: 767px) {
    .mainArea .headText {
        margin-top: 100px;
    }

    .mainArea .headText h1 {
        font-size: 35px;
        line-height: 31px;
        letter-spacing: -2px;
    }

    .mainArea .headText h2 {
        font-size: 23px;
        letter-spacing: -1.2px;
    }
}

.mainArea_data_left {
    width: 520px;
    float: left;
}

.mainArea_img4_right {
    width: 410px;
    float: right;
    margin-top: 52px;
    margin-bottom: 11px;
}

.mainArea_img4_right .col-md-6 {
    margin-bottom: 9px;
}

.mainArea hr {
    margin-top: 15px;
    margin-bottom: 0;
    border-top: 1px solid #3d4040;
    clear: both;
}

@media (max-width: 1000px) {
    .mainArea hr {
        margin-top: 4px;

    }
}

@media (max-width: 767px) {
    .mainArea hr {
        margin-top: 9px;
    }
}

.mainArea_data_left p {
    font-family: museosans;
    color: #3d4040;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 21px;
    margin-bottom: 8px;
}

.mainArea_data_left h1 {
    font-family: brandon_grotesqueblack;
    color: #3d4040;
    font-size: 21px;
    margin-top: 19px;
    margin-bottom: 13px;
}

.main-content {
    min-height: 373px;
}

.main-content h3 {
    font-family: brandon_grotesqueblack;
    color: #3d4040;
    font-size: 21px;
    margin-top: 19px;
    margin-bottom: 13px;
}

.main-content h4 {
    font-family: brandon_grotesqueblack;
    color: #c7a46f;
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 13px;
}

.main-content h5 {
    font-family: brandon_grotesquemedium;
    color: #3d4040;
    font-size: 17px;
    margin-top: 13px;
    margin-bottom: 1px;
}

.main-content p {
    font-family: museosans;
    color: #3d4040;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 21px;
    margin-bottom: 0;
}

.main-content span {
    margin-left: 11px;
    margin-right: 11px;
}

@media (max-width: 1000px) {
    .main-content {
        margin-top: 15px;
        margin-bottom: 28px;
    }
}

@media (max-width: 767px) {
    .main-content h3 {
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 17px;
        letter-spacing: 0.4px;
    }

    .main-content h3:not(:first-child) {
        margin-top: 13px;
    }

    .main-content {
        min-height: initial;
    }
}

.triple-block {
    margin-top: 20px;
    margin-bottom: 35px;
}

.triple-block h2 {
    font-family: brandon_grotesqueblack;
    font-size: 23px;
    margin: 0 0 15px 0;
    letter-spacing: 0.5px;
    line-height: 1;
    color: #f05223;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.triple-block > .row > div + div {
    border-left: solid 1px black;
}

.triple-block > .row > div + div h2 {
    color: #c7a46f;
}

@media (max-width: 1000px) {
    .triple-block h2 {
        font-size: 17px;
        margin-bottom: 7px;
    }

    .triple-block {
        margin-top: 14px;
    }
}

@media (max-width: 767px) {
    .triple-block h2 {
        font-size: 2.1vw;
        margin-bottom: 1vw;
    }

    .triple-block {
        margin-top: 17px;
    }
}

.mainArea_additionalData .divider-vertical {
    height: 200px;
    border-left: 1px solid #3d4040;
    float: left;
    margin: 21px 0 0 33px;
}

.mainArea_additionalData .divider-vertical {
    height: 200px;
    border-left: 1px solid #3d4040;
    float: left;
}

.mainArea_additionalData .firstDivider {
    margin: 21px 0 0 33px;
}

.mainArea_additionalData .lastDivider {
    margin: 21px 0 0 26px;
}

.footer {
    border-radius: 0 0 10px 10px;
    background-color: #3d4040;
    margin-bottom: 22px;
    padding-bottom: 19px;
}

.footer a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .footer {
        margin-left: 11px;
        margin-right: 11px;
    }
}

.footer-sign-up {
    margin: 10px 0 0 3px;
}

.footer-sign-up .newsletter-signup .newsletter-btn {
    margin: 0;
    margin-left: -4px;
    padding: 4px 16px 5px 16px;
    background-color: #c7a46f;
    border: 2px solid #c7a46f;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-family: brandon_grotesquemedium;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    height: 25px;
}

.footer-sign-up .newsletter-signup .newsletter-input {
    width: 357px;
    margin: 0;
    padding: 5px 0 5px 6px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px 0 0 5px;
    border-right: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    color: #3d4040;
    vertical-align: top;
    height: 25px;
    font-family: museosans;
}

.footer-sign-up .newsletter-signup label {
    color: #c7a46f;
    font-family: museosans;
    font-size: 14px;
    display: block;
}

@media (max-width: 1000px) {
    .footer-sign-up {
        margin: 10px 0 0 -10px;
        width: 400px;
    }

    .footer-sign-up .newsletter-signup label {
        font-size: 11px;
    }

    .footer-sign-up .newsletter-signup .newsletter-input {
        width: 320px;
        height: 22px;
    }

    .footer-sign-up .newsletter-signup .newsletter-btn {
        height: 22px;
        padding: 5px 15px 5px 13px;
        font-size: 9px;
    }
}

@media (max-width: 767px) {

    .footer .myResponsiveSubmit td:first-child {
        width: 100%;
    }

    .footer .myResponsiveSubmit td:last-child {
        width: 90px;
    }

    .footer-sign-up {
        margin: 5px 0 0 -12px;
        width: 100%;
    }

    .footer-sign-up .newsletter-signup label {
        font-size: 17px;
        letter-spacing: 0.7px;
    }

    .footer-sign-up .newsletter-signup .newsletter-input {
        width: 100%;
        height: 34px;
        font-size: 19px;
    }

    .footer-sign-up .newsletter-signup .newsletter-btn {
        height: 34px;
        padding: 5px 15px 5px 19px;
        font-size: 15px;
    }
}

.footer-email-us {
    margin: 19px 0 0 0;
}

.footer-email-us a {
    color: #c7a46f;
    font-family: museosans;
    font-size: 14px;
    float: right;
    font-weight: 600;
}

@media (max-width: 1000px) {
    .footer-email-us {
        margin: 8px -10px 0 0;
    }

    .footer-email-us a {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .footer-email-us {
        float: left;
        margin: 27px 0 0 -14px;
    }

    .footer-email-us a {
        font-size: 17px;
        letter-spacing: 0.7px;
    }
}

.footer-other-info {
    color: #cdcccb;
    font-family: museosans;
    font-size: 12px;
    font-weight: 600;
    float: right;
    margin: 8px 0 0 0;
}

.footer-other-info a {
    color: #cdcccb;
    font-family: museosans;
    font-size: 12px;
}

.footer-other-info span {
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .footer-other-info {
        font-size: 9px;
        margin: 8px -14px 0 -36px;
    }

    .footer-other-info a {
        font-size: 9px;
    }

    .footer-other-info span {
        margin-left: 4px;
        margin-right: 4px;
    }
}

@media (max-width: 767px) {
    .footer-other-info {
        float: left;
        clear: both;
        font-size: 14px;
        margin: 8px 0 0 -19px;
    }

    .footer-other-info a {
        font-size: 14px;
    }

    .footer-other-info span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.imageContainer {
    position: relative;
}

.imageContainer_text {
    font-family: museosans;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: 34px;
}

@media (max-width: 1000px) {
    .imageContainer_text {
        font-size: 10px;
        line-height: 26px;
    }
}

@media (max-width: 767px) {
    .imageContainer_text {
        font-size: 2vw;
        line-height: 3vw;
    }
}

hr.firstWithoutHeader {
    margin-bottom: 16px;
}

.main-content hr {
    margin-top: 24px;
}

.responsiveAddsHolder {
    width: 100%;
    height: 100%;
}

.responsiveAddsHolder_box {
    background-color: #3d4040;
    padding: 15px 15px;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #c7a46f;
    display: table;
    text-align: center;
    height: 170px;
}

@media (min-width: 1500px) {
    .responsiveAddsHolder_box {
        height: 203px;
    }
}

.responsiveAddsHolder_inside {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #c7a46f;
    border-radius: 5px 5px 5px 5px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 35px;
    position: relative;
}

.responsiveAddsHolder_inside p {
    color: #3d4040;
    font-family: brandon_grotesqueblack;
    font-size: 23px;
    margin: 0 0 1vw 0;
    letter-spacing: 0.5px;
    line-height: 1;
}

.responsiveAddsHolder_inside img {
    width: 78px;
    position: absolute;
    bottom: 7px;
    margin-right: 50%;
    margin-left: -39px;
}

@media (max-width: 1000px) {
    .responsiveAddsHolder_box {
        height: 117px;
        padding: 13px 13px;
    }

    .responsiveAddsHolder_inside {
        padding: 0 12px;
    }

    .responsiveAddsHolder_inside p {
        font-size: 17px;
    }

    .responsiveAddsHolder_inside img {
        width: 62px;
        margin-left: -31px;
    }
}

@media (max-width: 767px) {
    .responsiveAddsHolder_box {
        height: 15.3vw;
        padding: 1.3vw 1.3vw;
    }

    .responsiveAddsHolder_inside {
        padding: 0 1vw;
    }

    .responsiveAddsHolder_inside p {
        font-size: 2.3vw;
        margin: 0 0 1vw 0;
    }

    .responsiveAddsHolder_inside img {
        width: 6.2vw;
        margin-left: -3.1vw;
        bottom: 1vw;
    }
}

.leftAdds {
    margin-top: 162px;
    margin-bottom: 20px;
}

.leftAdds h2 {
    font-family: brandon_grotesqueblack;
    font-size: 27px;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
    line-height: 1;
    color: #f05223;
    width: 100%;
}

@media (max-width: 1000px) {
    .leftAdds h2 {
        font-size: 20px;
    }

    .leftAdds {
        margin-top: 111px;
    }
}

@media (max-width: 767px) {
    .leftAdds h2 {
        font-size: 3vw;
    }
}

.leftAdds hr {
    margin-top: 15px;
    margin-bottom: 16px;
    border-top: 1px solid #3d4040;
    clear: both;
}

.leftAdds .responsiveAddsHolder {
    background: #3d4040;
}

.leftAdds .responsiveAddsHolder_inside {
    padding: 0 10px;
    height: 210px;
}

.leftAdds .responsiveAddsHolder img {
    width: 123px;
    margin: 5px 0 0 32px;
}

@media (min-width: 1500px) {
    .leftAdds .responsiveAddsHolder img {
        margin: 5px 0 0 54px;
    }
}

.leftAdds .responsiveAddsHolder_box {
    padding-top: 0;
}

.leftAdds .responsiveAddsHolder_inside p {
    font-size: 25px;
}

@media (max-width: 1000px) {
    .leftAdds .responsiveAddsHolder_inside p {
        font-size: 18px;
    }

    .leftAdds .responsiveAddsHolder img {
        width: 77px;
        margin: 5px 0 0 23px;
    }
}

.leftAdds .responsiveAddsHolder_inside img {
    margin: 0 0 0 -41px;
    width: 82px;
}

@media (max-width: 767px) {
    .leftAdds .responsiveAddsHolder_inside p {
        font-size: 1.8vw;
    }

    .leftAdds .responsiveAddsHolder img {
        position: relative;
        width: 10vw;
        left: 50%;
        margin: 1vw 0 0 -5vw;
    }

    .leftAdds .responsiveAddsHolder_inside {
        padding: 0;
        height: 20vw;
    }

    .leftAdds .responsiveAddsHolder_inside img {
        position: absolute;
        bottom: 1vw;
        width: 6vw;
        left: 50%;
        margin-left: -3vw;
    }
}

.leftAdds .imageContainer:not(:first-child) {
    margin-top: 5px;
}

.mainArea .rightBlog .headText {
    margin-top: -4px;
}

.mainArea .rightBlog .headText h1 {
    font-size: 38px;
}

.mainArea .rightBlog hr {
    margin-bottom: 21px;
    margin-top: 1px;
}

.mainArea .rightBlog .headImage {
    width: 100%;
}

@media (max-width: 1000px) {
    .mainArea .rightBlog .headText h1 {
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    .mainArea .rightBlog .headText h1 {
        font-size: 30px;
    }
}

.image-tuple-text {
}

.image-tuple-text > div {
    float: left;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 18px;
}

.image-tuple-text img {
    margin-top: 10px;
    width: 100%;
}

.leftAdds .newsletter-signup .newsletter-btn {
    margin: 0;
    margin-left: -4px;
    padding: 4px 16px 5px 16px;
    background-color: #c7a46f;
    border: 2px solid #c7a46f;
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-family: brandon_grotesquemedium;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    height: 25px;
}

.leftAdds .newsletter-signup .newsletter-input {
    width: 144px;
    margin: 0;
    padding: 5px 0 5px 6px;
    background-color: white;
    border: 1px solid #9a9c99;
    border-radius: 5px 0 0 5px;
    border-right: none;
    outline: none;
    font-size: 11px;
    font-weight: 500;
    color: #3d4040;
    vertical-align: top;
    height: 25px;
    font-family: museosans;
}

.leftAdds .newsletter-signup label {
    color: #c7a46f;
    font-family: museosans;
    font-size: 14px;
    display: block;
}

@media (max-width: 1000px) {
    .leftAdds .newsletter-signup label {
        font-size: 11px;
    }

    .leftAdds .newsletter-signup .newsletter-input {
        width: 100%;
        height: 22px;
    }

    .leftAdds .newsletter-signup .newsletter-btn {
        height: 22px;
        padding: 5px 15px 5px 13px;
        font-size: 9px;
    }
}

.leftAddsNewsletter h3 {
    font-family: brandon_grotesqueblack;
    color: #3d4040;
    font-size: 21px;
    margin-top: 19px;
    margin-bottom: 13px;
}

.leftAddsNewsletter p {
    font-family: museosans;
    color: #3d4040;
    line-height: 19px;
    margin-bottom: 12px;
    font-size: 15px;
}

@media (max-width: 1500px) {
    .leftAdds .newsletter-signup .newsletter-input {
        width: 117px;
        font-size: 9px;
    }
}

.mainArea .rightBlog .image-tuple-text hr {
    margin-bottom: 7px;
    margin-top: 14px;
}

.mainArea .rightBlog a.nextEntries {
    color: #c7a46f;
    font-family: museosans;
    font-size: 12px;
    float: right;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 64px;
}

.mainArea .rightBlog hr {
    margin-bottom: 10px;
}

.rightCakes .main-content img.headImage {
    width: 100%;
    padding: 0 20px 0 13px;
    margin-top: 13px;
    margin-bottom: 19px;
}

.rightCakes .main-content .productList .productContainer img {
    width: 100%;
}

.myCol4 {
    width: 33%;
    padding: 0 13px;
    float: left;
    margin-bottom: 16px;
}

.rightCakes .main-content .productList .productContainer p {
    width: 100%;
    text-align: center;
    background-color: #3d4040;
    border-radius: 0 0 10px 10px;
    font-family: brandon_grotesquemedium;
    font-weight: 100;
    height: 43px;
    color: white;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    line-height: 16px;
}

.catering .headData {
    float: left;
}

.catering .headData .headText {
    margin-top: 40px;
}

.catering .headData h1 {
    font-size: 38px;
}

.catering .leftSmallPart {
    margin-top: 69px;
}

.catering .leftSmallPart img {
    width: 124px;
}

.catering .leftSmallPart h3 {
    font-family: brandon_grotesqueblack;
    color: #3d4040;
    font-size: 21px;
    margin-top: 19px;
    margin-bottom: 13px;
}

.catering .leftSmallPart p {
    font-family: museosans;
    color: #3d4040;
    line-height: 19px;
    margin-bottom: 12px;
    font-size: 15px;
}

.customButton {
    padding: 4px 16px 5px 16px;
    background-color: #c7a46f;
    border: 2px solid #c7a46f;
    border-left: none;
    border-radius: 5px 5px 5px 5px;
    font-family: brandon_grotesquemedium;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    height: 25px;
}

.catering .rightCakes {
    margin-top: 20px;
}

.headButtons button {
    margin: 0 10px;
    width: 83px;
    padding: 4px 11px;
}

.catering {
    padding-bottom: 73px;
}